######################################################################
# Build Tools

.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

target/
src/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**

######################################################################
# IDE

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/

######################################################################
# Others

HELP.md

*.log
*.xml.versionsBackup

!*/build/*.java
!*/build/*.html
!*/build/*.xml
